{:logseq-catppuccin {:version "v0.6.4", :repo "catppuccin/logseq", :effect false, :theme true}
 :logseq-git {:version "v1.7.0", :repo "haydenull/logseq-plugin-git", :effect true, :theme false}
 :logseq-automatic-linker {:version "1.7.0", :repo "sawhney17/logseq-automatic-linker", :effect false, :theme false}
 :logseq-heatmap {:version "v2.4.3", :repo "pengx17/logseq-plugin-heatmap", :effect true, :theme false}
 :logseq-move-block {:version "v1.1.0", :repo "vipzhicheng/logseq-plugin-move-block", :effect true, :theme false}
 :logseq-vim-shortcuts {:version "v0.1.24", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}}
